
div {
    display: inline-block;
	padding: 20px;
	background-color:#5F9EA0;
}
label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:left;
}
input[type=submit] {
	background-color: #FF7F50;
}
h1{color: #FF7F50;}

body {
background-color: #DCDCDC;}
